body {
    margin: 0;
    font-family: Arial;
    text-align: center;
}

/* Header */
header {
    background: #333;
    color: white;
    padding: 20px;
}

/* Hero */
.hero {
    background: #f4f4f4;
    padding: 60px 20px;
}

.btn {
    background: blue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
}

/* Features */
.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.box {
    background: white;
    margin: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

/* Contact */
.contact {
    padding: 30px;
    background: #eee;
}

/* Footer */
footer {
    background: #333;
    color: white;
    padding: 10px;
}
nav {
    background: #222;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}
.btn:hover {
    background: darkblue;
    transform: scale(1.05);
}
.box {
    transition: 0.3s;
}

.box:hover {
    transform: translateY(-5px);
}